<md-content layout-padding>
    <div>
      <form name="userForm">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Create a Person</h2>
            <span flex></span>
          </div>
        </md-toolbar>

        <br>

        <div layout-gt-md="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>
        </div>

        <div layout-gt-md="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="user.lastName">
          </md-input-container>
        </div>

        <div>
          <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
          <md-button class="md-raised md-primary" ng-click="answer(user.firstName + ' ' + user.lastName)">Create</md-button>
        </div>
      </form>
    </div>
  </md-content>