<section>
  <div class="col-md-3"> </div>

  <div class="col-md-3">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Apartments</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="column" layout-align="center center">
          <md-select placeholder="Select a Complex" ng-model="complex" md-on-open="getComplexes()" style="min-width: 200px;">
            <md-option ng-value="complex" ng-repeat="complex in complexes">{{complex.ApartmentName}}</md-option>
          </md-select>
          <br>
          <p>Apartment Complex: {{ complex ? complex.ApartmentName : 'An Apartment Complex has not been selected' }}</p>
          <!-- <p>GUID: {{complex ? complex.guid : 'Unique Identifier!'}}</p> -->
          <p>{{status}}</p>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">

      </md-card-actions>
    </md-card>
  </div>
  <div class="col-md-3">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Person</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout="column" layout-align="center center">
          <p>{{personStatus}}</p>
          <md-select placeholder="Select a User" ng-model="user" md-on-open="getPeople()" style="min-width: 200px;">
            <md-option ng-value="user" ng-repeat="user in users">{{user.firstName}} {{user.lastName}}</md-option>
          </md-select>
          <br>
          <p>First Name: {{ user ? user.firstName : 'No one has' }}</p>
          <p>Last Name: {{ user ? user.lastName : 'been selected' }}</p> 
          <!-- <p>GUID: {{user ? user.guid : 'Unique Identifier!'}}</p> -->
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <br>
         <md-button class="md-primary md-raised" ng-click="createPersonDialog($event)">Create Person</md-button> 
      </md-card-actions>
    </md-card>
  </div>

  <div class="col-md-3"> </div>
</section>