<section>
  <div class="col-md-3"> </div>

  <div class="col-md-3">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Address</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Street Name: {{myAddress.streetName}}</p>
        <p>Apartment Number: {{myAddress.aptNum}}</p>
        <p>City: {{myAddress.city}}</p>
        <p>State: {{myAddress.state}}</p>
        <p>Zip Code: {{myAddress.zipCode}}</p> 
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <label>Address Selector</label>
        <input type="number" id="number" data-ng-model="addressNumber">
        <md-button class="md-raised md-primary" data-ng-click="processAddress((addressNumber-1))">Get Address</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="col-md-3">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Person</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>First Name: {{myPerson.firstName}}</p>
        <p>Last Name: {{myPerson.lastName}}</p> 
        <p>{{status}}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <label>Person Selector</label>
        <input type="number" id="number" data-ng-model="personNumber">
        <md-button class="md-raised md-primary" data-ng-click="processPerson((personNumber-1))">Get Person</md-button>
        <br>
         <md-button class="md-primary md-raised" ng-click="createPersonDialog($event)">Create Person</md-button> 
      </md-card-actions>
    </md-card>
  </div>

  <div class="col-md-3"> </div>
</section>