<section>
  <div class="col-md-4"> </div>

  <div class="col-md-4">
    <h2 data-ng-hide="userInfo.isAuthenticated" layout="row" layout-align="center center">Hello Random User!</h2>
    <h2 data-ng-hide="!userInfo.isAuthenticated" layout="row" layout-align="center center">Welcome Housing Manager!</h2>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" data-ng-hide="userInfo.isAuthenticated" data-ng-click="signin()">SignIn</md-button>
      <md-button class="md-raised md-primary" data-ng-hide="!userInfo.isAuthenticated" data-ng-click="signout()">SignOut</md-button>
    </div>
  </div>

  <div class="col-md-4"> </div>
</section>