<md-content layout-padding>
    <div>
      <form name="userForm">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Assigning {{user.firstName}}</h2>
          </div>
        </md-toolbar>

        <br>

        <div layout-gt-md="row">
          <p>Are you sure you want to assign {{user.firstName}} to {{complex.apartmentName}} in Apartment # {{unit.addr.aptNum}}?</p>
        </div>

        <div>
          <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
          <md-button class="md-raised md-primary" ng-click="answer(assignment)">Assign</md-button>
        </div>
      </form>
    </div>
  </md-content>