<section>
  <div class="col-md-3"> </div>

  <div class="col-md-6">
     <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools" layout="row" layout-align="space-around center">
        <span>List of Complexes</span>
      </div>
    </md-toolbar>
    <md-content flex>
      <md-list ng-init="getComplexes()">
        <md-progress-linear ng-show="aptLoading" md-mode="indeterminate"></md-progress-linear>
        <md-list-item id="complex.guid" class="md-3-line" ng-repeat="complex in complexes" ng-click="navigateTo(complex, $event)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ complex.apartmentName }}</h3>
            <h4></h4>
            <p>{{ complex.guid }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content> 
  </div>

  <div class="col-md-3"> </div>
</section>